@page "/"
@using BachelorproefBlazorScanner.Domain.Scans
@using BachelorproefBlazorScanner.Client.Components
@inject HttpClient HttpClient

<PageTitle>Index</PageTitle>

<h1>Thimble</h1>

<p>Welcome to the scanning application Thimble!</p>
