@page "/"
@using BachelorproefBlazorScanner.Domain.Scans
@using BachelorproefBlazorScanner.Client.Components
@inject IScanService ScanService

<PageTitle>Index</PageTitle>

<h1>Thimble</h1>

<p>Welcome to the scanning application Thimble!</p>

@if (scans == null) {
    <p>Loading...</p>
} else if (scans.Count() == 0) {
    <p>No scans yet</p>
} else {
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Barcode</th>
                <th scope="col">Destination</th>
                <th scope="col">Zone</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var scan in scans) {
                <ScanItem Scan="scan" />
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Scan>? scans;

    protected override async Task OnInitializedAsync()
    {
        await GetScansAsync();
    }

    private async Task GetScansAsync()
    {
        scans = await ScanService.GetScansAsync();
    }

}