@using BachelorproefBlazorScanner.Domain.Scans

<tr>
    <td>@Scan.Barcode</td>
    <td>@Scan.Destination</td>
    <td>@Scan.Zone</td>
</tr>

@code {
    [Parameter] public Scan Scan { get; set; } = default!;
}
